.mainPage{
  background-color: #c5c5c5;
}


.postsSection{
  display: flex;
  overflow-y: auto;
  margin-top: 10vh;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: #c5c5c5;
}

.walletError{
  display: flex;
  margin-top: 30vh;
  justify-content: center;
  align-items: center;
  background-color: #c5c5c5;
}
