.postsSection{
  display: flex;
  overflow-y: auto;
  margin-top: 10vh;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.walletError{
  display: flex;
  margin-top: 30vh;
  justify-content: center;
  align-items: center;
}